name: push-hotfix

on:
  push:
    branches: 
      - 'hot-fix/**'
      - 'hotfix/**'

jobs:
  
  update-develop-branch:
    name: Update Develop Branch
    runs-on: ubuntu-latest
  
    steps:

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git checkout develop
          git rebase ${{steps.extract_branch.outputs.branch}}
          git push origin develop
    
